[submodule ".nvm"]
	path = .nvm
	url = https://github.com/creationix/nvm.git
	ignore = all
	shallow = true
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
	ignore = all
	shallow = true
[submodule ".rbenv"]
	path = .rbenv
	url = https://github.com/sstephenson/rbenv.git
	ignore = all
	shallow = true
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
	ignore = all
	shallow = true
[submodule ".pyenv"]
	path = .pyenv
	url = https://github.com/pyenv/pyenv
	ignore = all
	shallow = true
